/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Montserrat', sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 2rem;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  /* font-weight: var(--font-medium);
  transition: var(--body-color) 0.4s; */
}

.active-link {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
}

.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--title-color);
}

.nav__close {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

/* Navigation for mobile devices */

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    top: -1000px;
    left: 0;
    position: absolute;
    padding: 4rem 0rem;
    transition: top 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For Safari */
    z-index: var(--z-fixed);
  }
}

/* Show menu */

.show-menu {
  top: 0;
}

/* Add blur to header */
.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari */
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */

.active__link {
  color: var(--first-color);
}

/*=============== HOME ===============*/

.home {
  background: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 1)),
    url(/assets/img/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home__container {
  text-align: center;
  row-gap: 1.5rem;
  padding-block: 2rem 5rem;
  position: relative;
}

.home__subtitle {
  font-size: var(--font-medium);
  /* I can remove this if it can occur to some problems */
  margin-bottom: -2rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var();
}

.home__description {
  color: var(--title-color);
}

.button {
  padding: 1rem 1.5rem;
  justify-self: center;
  background: transparent;
  background-color: hsla(0, 0%, 72%, 0.3);
  backdrop-filter: blur(12px);
  color: var(--title-color);
  font-family: var(--second-font);
  white-space: nowrap;
  margin-block: 1rem;
}

.home__card-list {
  row-gap: 2rem;
  justify-content: center;
}

.home__card-item {
  /* max-width: fit-content; */
  max-width: 280px;
  background-color: aliceblue;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  justify-self: center; /* I can remove this maybe later */
}

.home__card-item .home__card-image {
  -webkit-transition: 0.5s cubic-bezier(0.13, 0.61, 0.52, 0.9);
  transition: 0.5s cubic-bezier(0.13, 0.61, 0.52, 0.9);
}

.home__card-item:hover .home__card-image {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.home__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__card-title {
  position: absolute;
  left: 0.5rem;
  bottom: 0.25rem;
  font-weight: var(--font-medium);
  color: var(--title-color);
}

/*=============== BUTTON ===============*/

/*=============== ABOUT ===============*/

/* .about__container {
  padding-block: 10rem 2rem;
} */

.about__image {
  max-width: 280px;
  justify-self: center;
  margin-block: 1rem;
  overflow: hidden;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=============== POPULAR ===============*/

.popular__container {
  justify-content: center;
  padding-block: 4rem;
}

.popular__card-list {
  row-gap: 3.2rem;
  justify-content: center;
}
.popular__card-item {
}

.popular__card-image {
  max-width: 280px;
  overflow: hidden;
}

.popular__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0.75rem;
}

.popular__title,
.popular__location {
  display: block;
}

.popular__title {
  font-size: var(size);
  color: var(--title-color);
}

.popular__location {
}

/*=============== EXPLORE ===============*/

.explore__container {
  padding-block: 3rem 9rem;
}

.explore__image {
  position: relative;
  transform: scale();
}
.explore__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore__image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.2),
    hsla(0, 0%, 0%, 1)
  );
}

.explore__data {
  z-index: 1;
  margin-block: -4.8rem;
  text-align: center;
  margin-inline: 1.5rem;
  display: grid;
  row-gap: 0.5rem;
}

.explore__author {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.explore__author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.explore__name {
  display: block;
  font-size: var(--small-font-size);
  color: var(--title-color);
  margin-block: 1rem;
}

/*=============== JOIN ===============*/

.join__container {
  padding-block: 0rem 7rem;
  justify-content: center;
}
.join__description {
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.join__input {
  padding: 1rem 1.5rem;
  background-color: var(--container-color);
  color: var(--title-color);
  width: 80%;
  justify-self: center;
}

.join__input::placeholder {
  color: var(--text-color-light);
}

.join__button {
  text-align: initial;
  cursor: pointer;
  width: 80%;
  white-space: normal;
  overflow: hidden;
}

.join__image {
  width: 280px;
  justify-self: center;
  margin-block: 3.2rem;
  overflow: hidden;
}

.join__img,
.popular__card-img,
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s cubic-bezier(0.13, 0.61, 0.52, 0.9);
  -webkit-transition: 0.5s cubic-bezier(0.13, 0.61, 0.52, 0.9);
}

.join__img:hover,
.popular__card-img:hover,
.about__img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*=============== FOOTER ===============*/

.footer {
  background-color: var(--container-color);
}

.footer__container {
  padding-block: 4.8rem;
  justify-content: center;
  row-gap: 2rem;
}

.footer__logo {
}

.footer__description {
  margin-block: -0.5rem 1.5rem;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 6rem;
  margin-bottom: 2rem;
}

.footer__item {
  display: grid;
  gap: 0.5rem;
}

.footer__title {
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.footer__link {
  color: var(--text-color);
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.footer__social-link {
  margin-block: 4rem 0.5rem;
  color: var(--text-color);
  font-size: 1.24rem;
  cursor: pointer;
}

.footer__social-link:hover {
  transition: 0.4s ease;
  transform: translateY(-0.5rem);
}

.footer__copy {
  justify-self: center;
  font-size: var(--smaller-font-size);
}

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

.scroll-up {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}
.scroll-up__icon {
  background-color: hsla(0, 0%, 24%, 0.5);
  backdrop-filter: blur(24px);
  font-size: 1rem;
  color: var(--title-color);
  padding: 0.48rem;
}

.scroll-up:hover {
  transition: 0.4s ease;
  transform: translateY(-0.6rem);
}

/* Show Scroll Up */

#show-scroll {
  display: inline-flex;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (min-width: 756px) {
  .home__card-list {
    column-gap: 0.2rem;
    display: grid;
    grid-template-columns: repeat(2, 352px);
  }

  .explore__container {
    /* margin-block: 0rem; */
    padding-block: 4.8rem;
    margin-bottom: 4rem;
    margin-inline: 1.5rem;
  }
}

/* For medium devices */

/*
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    row-gap: 2.8rem;
  }

  .home__card-list {
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

   .footer__container,
  .about__container,
  .explore__container,
  .home__container,
  .popular__container,
  .join__container {
    margin: 0 auto;
  } 
}
*/

/* For large devices */

@media screen and (min-width: 1023px) {
  .container {
    margin-inline: auto;
  }

  .about__container {
    padding-block: 10rem 2rem;
  }

  .home__container {
    row-gap: 2.8rem;
    padding-block: 4rem 2rem;
  }

  .home__subtitle {
    margin-block: 1rem -4rem;
    font-size: var(--h3-font-size);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .home__card-list {
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 2rem;
  }

  .header {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 3.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 3.2rem;
  }

  .footer__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
